h1{color: aliceblue;
font-size: 17px;
background-color: rgb(231, 68, 9);}
h2{color:aliceblue ;
font-size: 12px;
background-color: rgb(182, 133, 36);}
body{background-color: bisque;}
p{text-align: justify;}