div{
   display: inline-block;
    background-color: rgb(183, 196, 191);
    text-align: center;
    height: 200px;
    width: 200px;
    border: 1px solid black
}
#d1{
    background-color: black;

}

div:hover{
    background-color: blue;
}